.active-device-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 8.5% 2.5% 7.5% 2.5%;
    padding: 0 0 50px 0;
}

.devices-container {
    align-items: center;
    background-color: rgb(74, 74, 74);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(230, 230, 230, 0.9);
    width: 250px;
    margin: 0 2.5% 0 0;
}

.active-device-settings {
    background-color: rgba(230, 230, 230, 0.9);
    border-radius: 10px;
    width: 1000px;
}

.devices a {
    align-items: center;
    background: rgba(235, 206, 88, 0.5);
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    font-weight: bold;
    height: 30px;
    justify-content: center;
    margin: 5px 10px 0 10px;
    text-decoration: none;
    width: 225px;
}

.devices a:first-child {
    margin: 15px auto 5px auto;
}

.devices a:last-child {
    margin: 5px auto 0 auto;
}

.devices a:hover:not(.active-device) {
    background-color: rgb(235, 205, 88) ;
    color: black;
    height: 30px;
}


.devices a.active-device {
    background-color: rgb(235, 205, 88);
    border-radius: 10px;
    color: black;
}

.devices-inputs {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    margin: 175px 0 5px 0;
}

.devices-inputs-add {
    background-color: black;
    border-radius: 50%;
    border: none;
    color: white;
    font-size: larger;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
}

.devices-inputs-delete {
    color: white;
    border-radius: 15px;
    border: none;
    background-color: rgb(191, 0, 0);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 70%;
    margin: 0 0 5px 0;
}

/* responsive appareil2 */
@media all and (max-width:768px) {
    .active-device-container {
        margin: 2.5% 2.5% 2.5% 2.5%;
        padding: 50px 0 0 0;
    }

    .devices-container {
        margin: 0 10px 0 0;
    }

    .devices a {
        width: 175px;
        margin: 0 10px 0 10px;
    }
}