/*accueil*/

.products-all {
    display: flex;
    flex-direction: column;
    margin: 5% 2.5% 7.5% 2.5%;
}

.products-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 0 2.5% 0;
}

.products-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product {
    background-color: rgba(230, 230, 230, 0.9);
    border-radius: 10px;
    height: 200px;
    width: 400px;
    margin: 0 2.5% 0 0;
}

.product:last-child {
    margin: 0;
}

/*responsive index*/

@media all and (max-width:1024px) {
    .products-all {
        margin: 5% 2.5% 10% 2.5%;
    }
}

@media all and (max-width:768px) {
    .products-all {
        margin: 10% 0 5% 0;
    }

    .products-top {
        align-items: center;
        flex-direction: column;
    }

    .products-bottom {
        align-items: center;
        flex-direction: column;
    }

    .product {
        margin: 5% 0 5% 0;
    }

    .product:last-child {
        margin: 0;
    }
}
