/* mise en place container pour la page compte */
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(230, 230, 230, 0.9);
    height: 600px;
    width: 30%;
    margin: 150px auto;
    border-radius: 10px;
    flex-wrap: wrap;
}

.formulaire{
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    border-style: solid;
    border-width: thin;
    height: 570px;
    width: 50%;
    font-family: Arial, sans-serif;
}

.formulaire input{
    margin: 8%;
}

.formulaire button{
    background-color: rgb(235, 205, 88);
    width: 30%;
    border-radius: 20px;
    margin: 10px 20px;
}

.modifier{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 570px;
    width: 40%;
    font-family: Arial, sans-serif;
}

.modifier a{
    text-decoration: none;
    margin: 9%;
}